

.center {

    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    
}

 .centerBar {

    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50;
 }
