

.center {

    display: block;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    width: 50;
    
}

.SearchBar {
    position: absolute;
    top: 150px;
    left: 575px;
    width: 100;
}


